<div class="container">
  <div class="action">
    <button (click)="addBox()">Add</button>
    <button (click)="removeBox()">Remove</button>
  </div>
  <svg class="svg-container">
    <svg:rect
      class="box"
      *ngFor="let box of boxData | async"
      [ngClass]="{ selected: isSelected(box.boxId) }"
      [attr.x]="box.x"
      [attr.y]="box.y"
      width="150"
      height="100"
      (focus)="selectBox(box.boxId)"
      (blur)="unselectBox(box.boxId)"
      (keydown)="moveBox($event)"
    ></svg:rect>
  </svg>
</div>
