<div class="container">
  <div class="action">
    <button class="btn btn-primary" (click)="addBox()">Add Box</button>
  </div>
  <svg
    class="svg-container"
    [style.width]="sizeConfig.boundingBoxSize.width + 'px'"
    [style.height]="sizeConfig.boundingBoxSize.height + 'px'"
  >
    <svg:g
      rectBox
      *ngFor="let box of boxData | async"
      [selected]="isSelected(box.boxId)"
      [position]="box"
      [size]="sizeConfig.boxSize"
      (focused)="selectBox($event)"
      (moved)="moveBox($event)"
    ></svg:g>
    <!-- <svg:rect
      class="box"

      (focus)="selectBox(box.boxId)"
      (blur)="unselectBox(box.boxId)"
      (keydown)="moveBox($event)"
    ></svg:rect> -->
  </svg>
</div>
